.container {
	font-family: 'Comfortaa', sans-serif;
	background: #b3b3ff;
	margin-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 5px;
}
.title {
	color: white;
	text-shadow: 1px 1px 2px purple, 0 0 25px blue, 0 0 5px darkblue;
}

h3 {
	color: darkblue;
	text-shadow: 1px 1px 2px white;
}


.btn {
	color: darkblue;
	background: linear-gradient(#eeffe6, #bbff99);
	border: solid;
	border-width: 1px;
	border-color: lightgray;
	box-shadow: 
}


.jumbotron {
	background: #adebeb;
	margin-top: 20px;
/*	border: solid;
	border-color: #666666;*/
	color: ghostwhite;
	box-shadow: 1px 1px 2px purple, 0 0 25px blue, 0 0 5px darkblue;

}



.panel {
	background: #adebeb;
/*	border: solid;
	border-color: gray;*/
	border-width: 2px;
	color: darkblue;
	box-shadow: 1px 1px 2px purple, 0 0 25px blue, 0 0 5px darkblue;
}

.panel-heading {
	background: #85e0e0;
}

body {
	background: #bbff99;
}